# Pandas
Welcome to the fifth lesson! This Jupyter Notebook file is meant to accompany **L05 - Pandas.**

Type your solutions for each exercise in the code cells below, and then press **Shift + Enter** to execute your code. Then, check the solution video to see how you did!

### 1. Introduction to Pandas

### 2. New Object Type: Pandas DataFrames

<font color = 'blue'> **EXERCISE 2.1** </font>

In [46]:
#Import Pandas with the alias pd
#Import Stock Data.cvs into a new DataFrame named stock_data
#Display the dimensions of stock_data
#In a new cell, display the first three rows of stock_data
#In a new cell, display the last three rows of stock_data

import pandas as pd
stock_data = pd.read_csv('C:\\Users\\colby\\OneDrive\\Documents\\data1.csv')
stock_data.shape

(100, 7)

In [47]:
stock_data.head(3)#Brings up the first 3 rows

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target
0,AAPL,APPLE INC,Information Technology,1.09,1081130615,223.84,232.27
1,AMZN,AMAZON.COM INC,Consumer Discretionary,1.23,960942834,1970.19,2133.39
2,MSFT,MICROSOFT CORP,Information Technology,1.46,869345788,113.37,122.30

In [48]:
stock_data.tail(3)#Brings up the last 3 rows

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target
97,ADP,AUTOMATIC DATA,Information Technology,0.96,64599683,147.46,145.73
98,MOLZ,MONDELEZ INTER-A,Consumer Staples,0.74,64235373,43.80,49.20
99,AGN,ALLERGAN PLC,Health Care,1.01,63890227,188.22,211.68

<font color = 'blue'> **EXERCISE 2.2** </font>

In [49]:
#Print the minimum values of all columns in stock_data
#Print the maximum value of all columns in stock_data
#In a new cell, display all numerical summary statistics for stock_data

import pandas as pd

In [50]:
stock_data = pd.read_csv('C:\\Users\\colby\\OneDrive\\Documents\\data1.csv')

In [51]:
print(stock_data.min())
print(stock_data.max())

Ticker               AAPL
Name                 3MCO
Beta                 0.22
Market Cap       63890227
Current Price       12.68
Price Target        15.56
dtype: object
Ticker                        XOM
Name             WELLS FARGO & CO
Beta                         1.84
Market Cap             1081130615
Current Price            324999.0
Price Target             357125.0
dtype: object

C:\Users\colby\AppData\Local\Temp\ipykernel_35104\3970699085.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(stock_data.min())
C:\Users\colby\AppData\Local\Temp\ipykernel_35104\3970699085.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(stock_data.max())

In [52]:
stock_data.describe()#Produces summary stats

             Beta    Market Cap  Current Price   Price Target
count  100.000000  1.000000e+02     100.000000      93.000000
mean     0.995800  1.756136e+08    3441.165500    4051.011720
std      0.283446  1.806083e+08   32481.881894   37011.566893
min      0.220000  6.389023e+07      12.680000      15.560000
25%      0.810000  8.195384e+07      69.630000      74.530000
50%      0.990000  1.119556e+08     117.600000     123.930000
75%      1.182500  1.987309e+08     219.430000     217.130000
max      1.840000  1.081131e+09  324999.000000  357125.000000

### 3. New Object Type: Pandas Series

<font color = 'blue'> **EXERCISE 3.1** </font>

In [30]:
#Display the first row of stock_data
#Create a new feature named Price Increase by subtracting Current Price from Price Target
#Display the first row of stock_data
#Create a new feature named Return by dividing Price Increase by Current Price
#Display the first row of stock_data
#Display summary statistics for the new Return feature

import pandas as pd

In [31]:
stock_data = pd.read_csv('C:\\Users\\colby\\OneDrive\\Documents\\data1.csv')

In [32]:
stock_data.head(1)

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target
0,AAPL,APPLE INC,Information Technology,1.09,1081130615,223.84,232.27

In [33]:
stock_data['Price Increase'] = stock_data['Price Target'] - stock_data['Current Price']
stock_data.head(1) #Creating new series

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target,Price Increase
0,AAPL,APPLE INC,Information Technology,1.09,1081130615,223.84,232.27,8.43

In [34]:
stock_data['Return'] = stock_data['Price Increase'] / stock_data['Current Price']
stock_data.head(1) #Creating new series

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target,Price Increase,Return
0,AAPL,APPLE INC,Information Technology,1.09,1081130615,223.84,232.27,8.43,0.037661

In [9]:
stock_data['Return'].describe() #Checking summary stats for Return

count    93.000000
mean      0.093774
std       0.073729
min      -0.046877
25%       0.034946
50%       0.078769
75%       0.148719
max       0.270456
Name: Return, dtype: float64

### 4. Filtering Data with Boolean Masks

<font color = 'blue'> **EXERCISE 4.1** </font>

In [41]:
#Display the first three rows of stock_Data
#Using a Boolean mask, create a new series in stock_data that is an indicator variable for information technology companies
#Display the first three rows of stock_data

stock_data.head(3)

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target
0,AAPL,APPLE INC,Information Technology,1.09,1081130615,223.84,232.27
1,AMZN,AMAZON.COM INC,Consumer Discretionary,1.23,960942834,1970.19,2133.39
2,MSFT,MICROSOFT CORP,Information Technology,1.46,869345788,113.37,122.30

In [42]:
stock_data['Tech Industry'] = (stock_data['Sector']=='Information Technology').astype(int)
stock_data.head(3)

,Ticker,Name,Sector,Beta,Market Cap,Current Price,Price Target,Tech Industry
0,AAPL,APPLE INC,Information Technology,1.09,1081130615,223.84,232.27,1
1,AMZN,AMAZON.COM INC,Consumer Discretionary,1.23,960942834,1970.19,2133.39,0
2,MSFT,MICROSOFT CORP,Information Technology,1.46,869345788,113.37,122.30,1

### 5. Segmenting Data with Groupby

<font color = 'blue'> **EXERCISE 5.1** </font>

In [53]:
stock_data.groupby('Sector').mean()

,Beta,Market Cap,Current Price,Price Target
Sector,,,,
Consumer Discretionary,0.907692,1.875567e+08,422.383846,468.329231
Consumer Staples,0.675000,1.392211e+08,88.859000,94.648000
Energy,0.910000,1.865371e+08,83.757500,97.650000
Enersy,0.860000,6.824144e+07,117.820000,140.690000
Financials,1.155000,1.856177e+08,27198.074167,29894.575833
Health Care,0.954211,1.275709e+08,177.760000,186.905789
Industrial$,1.190000,1.219452e+08,207.880000,217.130000
Industrials,1.032500,1.189380e+08,179.236250,198.453750
Information Technology,1.224444,2.958042e+08,199.093889,222.621667
Information Technology .,1.840000,1.680694e+08,276.430000,286.090000
Materials,1.360000,1.582399e+08,68.580000,81.260000
Real Estate,0.460000,6.488651e+07,147.190000,160.680000
Telecommunication Services,0.665000,2.347001e+08,44.075000,46.020000
Utilities,0.220000,8.189415e+07,173.650000,176.720000
lndustrials,1.120000,6.754730e+07,255.440000,283.180000