# Python Fundamentals II
Welcome to the second lesson! This Jupyter Notebook file is meant to accompany **L02 - Python Fundamentals II.**

Type your solutions for each exercise in the code cells below, and then press **Shift + Enter** to execute your code. Then, check the solution video to see how you did!

### 1. Python Objects

In [ ]:
# Lesson Workspace
# Types of objects 
# Integers: 1, 2, 3, 4
# Floats: 1.0 , 2.5, 3.14
# Strings: 'Hello', 'How are you doing', '2.0'
# BooLeans: 10 > 5, 100 < 1, (7 == 7) - Must use double equal sign to compare, Single to define --> True or False
# Print(type(1)) --> Checks the type of object

<font color = 'blue'> **EXERCISE 1.1** </font>

In [1]:
print('The object type of {} is {}'.format(10, 'integer'))
print('The object type of {} is {}'.format(10.5, 'Float'))
print('The object type of {} is {}'.format('this', 'String'))
print('The object type of {} is {}'.format(True, 'BooLean'))
print('The object type of {} is {}'.format(1 < 5, 'BooLean'))

The object type of 10 is integer
The object type of 10.5 is Float
The object type of this is String
The object type of True is BooLean
The object type of True is BooLean

### 2. Lists

In [ ]:
# Lesson Workspace
# Use square brackets for a list
#List start at index 0 --> So index 1 is really index 0 
#list_1 = [1, 2, 3, 4, 5]
#list_2 = ['a', 'b', 'c', 'd' 'e']

In [33]:
list_1 = [1, 2, 3, 4, 5]
list_2 = ['a', 'b', 'c', 'd', 'e']

In [34]:
print(list_1)
print(list_2)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']

In [5]:
#List can have diffrent objets
pi = 3.14
list_3 = [1, 2.5, pi, pi > 0, 'text']
print(list_3)

[1, 2.5, 3.14, True, 'text']

In [6]:
list_1 = [1, 2, 3, 4, 5]
#                  ^list_1[3] - List 1 index 3
#                     ^list_1[4] - List 1 index 4 

list_1[3]

4

In [7]:
list_1[4]

5

In [8]:
list_1[3] + list_1[4]

9

In [9]:
# : -> Means you are selecting a range 
list_1[0:3]

[1, 2, 3]

In [10]:
list_1[:3]

[1, 2, 3]

In [11]:
list_1[2:5]

[3, 4, 5]

In [12]:
list_1[2:]

[3, 4, 5]

<font color = 'blue'> **EXERCISE 2.1** </font>

In [13]:
#Create a list called list_1 containing the integers 1, 2, 3, 4, and 5
#Create a list called list_2 containing the integers 6, 7, 8, 9, and 10
#Print the sum of the 4th object in list_1 and the 1st object in list_2
#Print the last two objects (as a range) in list_1 and the first three objects (as a range) in list_2
#Create a list called list_3 containing the objects from Step 4 in numerical order and print the result

list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]

In [17]:
print(list_1[3] + list_2[0])

10

In [18]:
print(list_1[3:])
print(list_2[:3])

[4, 5]
[6, 7, 8]

In [19]:
list_3 = list_1[3:] + list_2[:3]
print(list_3)

[4, 5, 6, 7, 8]

In [20]:
tech_portfolio = ['AAPL', 'AMZN', 'MSFT', 'tbd', 'GOOGL']
print(tech_portfolio)

['AAPL', 'AMZN', 'MSFT', 'tbd', 'GOOGL']

In [21]:
tech_portfolio[3] = 'CSCO'
print(tech_portfolio)

['AAPL', 'AMZN', 'MSFT', 'CSCO', 'GOOGL']

In [22]:
# Append function adds the new object onto the list 
tech_portfolio.append('NVDA')
print(tech_portfolio)

['AAPL', 'AMZN', 'MSFT', 'CSCO', 'GOOGL', 'NVDA']

In [30]:
#tech_portfolio.remove('AMZN')
# print(tech_portfolio)

In [31]:
#Checking list membership  
print('GOOGL' in tech_portfolio)

True

In [32]:
#Checking the length of a list 
print(len(tech_portfolio))

5

In [27]:
#Checking the Max and Min of a list 
portfolio_beta = [1.26, 1.46, 1.3, 1.44, 1.84]
print(max(portfolio_beta))
print(min(portfolio_beta))

1.84
1.26

<font color = 'blue'> **EXERCISE 2.2** </font>

In [28]:
#Create and print a list called financials containing the following strings: JPM, BAC, WFC, Citi, AXP
#Change “Citi” to “C” and print the new list
#Remove “AXP”, append “PNC”, and print the new list
#Check membership for “LBK” and print result
#Print the length of financials

financials = ['JPM', 'BAC', 'WFC', 'Citi', 'AXP']
print(financials)

['JPM', 'BAC', 'WFC', 'Citi', 'AXP']

In [35]:
financials[3] = 'C'
print(financials)

['JPM', 'BAC', 'WFC', 'C', 'AXP']

In [36]:
financials.remove('AXP')
financials.append('PNC')
print(financials)

['JPM', 'BAC', 'WFC', 'C', 'PNC']

In [37]:
print('BLK' in financials)

False

In [38]:
len(financials)

5

In [39]:
#Tuples use () instead of []
#Cannot change the object in code
# Tuples are used to store multiple items in a single variable - store collections of data
tuple_1 = (1, 2, 3, 4, 5)
list_1 = [1, 2, 3, 4, 5]

print(tuple_1)
print(list_1)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [40]:
list_1[0] = 10
print(list_1)

[10, 2, 3, 4, 5]

In [41]:
tuple_1[0]

1

In [42]:
tuple_1[0] = 10

TypeError: 'tuple' object does not support item assignment

### 3. Sets

In [43]:
#similar to a list
# All unique and not in a specific order
# Use {} for set
list_1 = ['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd', 'e', 'e']
set_1 = {'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd', 'e', 'e'}

In [44]:
print(list_1)

['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd', 'e', 'e']

In [45]:
print(set_1)

{'c', 'b', 'd', 'a', 'e'}

In [53]:
list_1 = ['IT', 'Consumer', 'IT', 'IT', 'Financials']
set_1 = {'IT', 'Consumer', 'IT', 'IT', 'Financials'}

In [54]:
print(list_1)

['IT', 'Consumer', 'IT', 'IT', 'Financials']

In [55]:
#Sets are used to remove duplicats
print(set_1)

{'IT', 'Consumer', 'Financials'}

In [ ]:
# Three set operations
# Use the format "set_1.function(set_2)"
# .union() - Combines sets - order doesnt matter 
# .intersection() - See's what sets have in common - order doesnt matter
# .diffrence() - Prints out unique values that arent included in the other set - order does matter

In [11]:
mkt_cap_over_500 = {'AAPL', 'AMZN', 'MSFT', 'GOOGL', 'BRK/A'}
Aaa_rated = {'MSFT', 'JNJ', 'XOM'}

In [12]:
# Combine sets with .union() - Order doesnt matter
print(mkt_cap_over_500.union(Aaa_rated))

{'MSFT', 'JNJ', 'GOOGL', 'AMZN', 'AAPL', 'BRK/A', 'XOM'}

In [13]:
print(Aaa_rated.union(mkt_cap_over_500))

{'MSFT', 'JNJ', 'AMZN', 'GOOGL', 'XOM', 'AAPL', 'BRK/A'}

In [14]:
# Find common elemnets with .intersection() - Order doesnt matter
# The only thing in common with both set is MSFT

print(mkt_cap_over_500.intersection(Aaa_rated))

{'MSFT'}

In [16]:
# Find diffrent elements with .difference() - Order matters

print(mkt_cap_over_500.difference(Aaa_rated))

{'GOOGL', 'AMZN', 'AAPL', 'BRK/A'}

In [17]:
print(Aaa_rated.difference(mkt_cap_over_500))

{'XOM', 'JNJ'}

<font color = 'blue'> **EXERCISE 3.1** </font>

In [19]:
# What are all of the companies included in both sets?
# Which healthcare companies have a beta>1?
# Which healthcare companies have a beta<1?

# Healthcare Companies: 'JNJ', 'UNH', 'PFE', 'ABBV', 'AMGN', 'ABT'
# Companies with Beta > 1: 'ABBV', 'AMGN', 'ABT', 'NFLX', 'NVDA'

healthcare = {'JNJ', 'UNH', 'PFE', 'ABBV', 'AMGN', 'ABT'}
beta = {'ABBV', 'AMGN', 'ABT', 'NFLX', 'NVDA'}
healthcare.union(beta)

{'ABBV', 'ABT', 'AMGN', 'JNJ', 'NFLX', 'NVDA', 'PFE', 'UNH'}

In [20]:
healthcare.intersection(beta)

{'ABBV', 'ABT', 'AMGN'}

In [21]:
healthcare.difference(beta)

{'JNJ', 'PFE', 'UNH'}

In [22]:
beta.difference(healthcare)

{'NFLX', 'NVDA'}

### 4. Dictionaries

In [24]:
# Lesson Workspace
# Use dictionaries to organize objects
# word is the key and the defitnion is the value 

healthcare_data = {
    'JNJ' : ['Johnson & Johnson', 0.86],
    'UNH' : ['UnitedHealth', 0.97],
    'PFE' : ['Pfizer Inc.', 0.81],
    'ABBV' : ['AbbVie Inc.', 1.39],
    'AMGN' : ['Amgen Inc.', 1.05],
    'ABT' : ['Abbott Labs', 1.07],}

In [25]:
healthcare_data['UNH']

['UnitedHealth', 0.97]

<font color = 'blue'> **EXERCISE 4.1** </font>

In [26]:
# 1.) Define 6 lists using the data table
# 1.) Use company tickers for variable names (NOT A STRING)
# 1.) The first object in each list should be the company’s current price, and the second object in each list should be the price target

# 2.) Create a dictionary called price_dict with 6 items
# 2.) The key for each item should be a string of the company ticker
# 2.) The value for each item should be the list defined in Step 1

# 3.) Print the entire value for PFE

# 4.) Print only the price target for AMGN

# Define lists
jnj = [139.49, 144.20]
unh = [265.31, 284.14]
pfe = [42.96, 43.06]
abbv = [95.68, 107.44]
amgn = [200.58, 205.90]
abt = [68.42, 71.06]

price_dict = {
    'JNJ' : jnj,
    'UNH' : unh,
    'PFE' : pfe,
    'ABBV' : abbv,
    'AMGN' : amgn,
    'ABT' : abt
}

#Print the entire value for PFE
print(price_dict['PFE'])


# Print the price target for AMGN

print(price_dict['AMGN'][1])

[42.96, 43.06]
205.9

In [28]:
# Dictionary Functions
# .key() shows you the dict keys
# .values() shows the dict values
# .items() shows you the items 


healthcare_beta_values = {  
    'JNJ' : 0.86,
    'UNH' : 0.97,
    'PFE' : 0.81,
    'ABBV' : 1.39,
    'AMGN' : 1.05,
    'ABT' : 1.07, 
}

In [29]:
healthcare_beta_values.keys()

dict_keys(['JNJ', 'UNH', 'PFE', 'ABBV', 'AMGN', 'ABT'])

In [30]:
healthcare_beta_values.values()

dict_values([0.86, 0.97, 0.81, 1.39, 1.05, 1.07])

In [31]:
healthcare_beta_values.items()

dict_items([('JNJ', 0.86), ('UNH', 0.97), ('PFE', 0.81), ('ABBV', 1.39), ('AMGN', 1.05), ('ABT', 1.07)])

In [32]:
# adding, changing. and deleting dictionary items 

healthcare_beta_values['MRK'] = 0.65

In [33]:
healthcare_beta_values.keys()

dict_keys(['JNJ', 'UNH', 'PFE', 'ABBV', 'AMGN', 'ABT', 'MRK'])

In [34]:
healthcare_beta_values['MRK']

0.65

In [36]:
# Remove an item from Dict

del healthcare_beta_values['JNJ']

In [38]:
print(healthcare_beta_values)

{'UNH': 0.97, 'PFE': 0.81, 'ABBV': 1.39, 'AMGN': 1.05, 'ABT': 1.07, 'MRK': 0.65}

<font color = 'blue'> **EXERCISE 4.2** </font>

In [39]:
# 1.) Create a new item called “MRK” with current price 69.98 and target price 74.53, and then print the entire value of “MRK”
# 2.) Remove “JNJ” and print the dictionary keys

price_dict['MRK'] = [69.98, 74.53]
print(price_dict['MRK'])
del price_dict['JNJ']
price_dict.keys()

[69.98, 74.53]

dict_keys(['UNH', 'PFE', 'ABBV', 'AMGN', 'ABT', 'MRK'])