# Python Fundamentals I
Welcome to the first lesson! This Jupyter Notebook file is meant to accompany **L01 - Python Fundamentals I**

Beneath each blue <font color = 'blue'> **EXERCISE**</font>, there is a code cell that looks like this:

Type your answer in the code cell, and then press **Shift + Enter** to execute your code. Then, check the solution in the PDF to see how you did!

### 1. Jupyter Notebook
If you are reading this, you are ready to go!

### 2. Calculations

In [1]:
# Lesson Workspace

print( 10 / 10 )
print( 10 * 10 )

1.0
100

<font color = 'blue'> **EXERCISE 2.1** </font>

In [2]:
print( 111 / 222 )
print( 333 - 444 )
print( 555 * 666 )
print( 777 / 888)

0.5
-111
369630
0.875

### 3. Text Outputs

In [ ]:
# Lesson Workspace

In [3]:
# Single quotes
print( 'Please wait while the application loads' )

Please wait while the application loads

In [4]:
# Double quotes
print( "Please wait while the application loads" )

Please wait while the application loads

In [ ]:
# When using its and it's use double quotes

In [ ]:
# Format() allows you to have static text but insert dynamic values but want it to be displayed with a conssitent format

In [6]:
print(' CUSIP = 23421231; Coupon = 3.375')
print(' CUSIP = {}; Coupon = {}' .format('23421231', '3.375'))

 CUSIP = 23421231; Coupon = 3.375
 CUSIP = 23421231; Coupon = 3.375

<font color = 'blue'> **EXERCISE 3.1** </font>

In [9]:
print( ' Price = ${}; EPS = ${}; P/E = {}' .format(220, 10, 220/10))

 Price = $220; EPS = $10; P/E = 22.0

### 4. Variables

In [10]:
# Lesson Workspace
# ' ' is a string that is a variable/text no '' means its a number and can do the math 
# Use descritptive variable names not just A, B, C 
p = 220
eps = 10
print( 'Price = ${}; EPS = ${}; P/E = {}' .format(p, eps, p / eps))

Price = $220; EPS = $10; P/E = 22.0

<font color = 'blue'> **EXERCISE 4.1** </font>

In [11]:
# Apple Data
a_mcap = 896473
a_pref = 0
a_ltdebt = 97128
a_cltdebt = 17472
a_mint = 0
a_cash = 70970
a_q3_17 = 17067
a_q4_17 = 30509
a_q1_18 = 19699
a_q2_18 = 16795


# Microsoft Data
m_mcap = 757029
m_pref = 0
m_ltdebt = 72242
m_cltdebt = 3998
m_mint = 0
m_cash = 133768
m_q3_17 = 11155
m_q4_17 = 12403
m_q1_18 = 12042
m_q2_18 = 13868

In [13]:
# Defining varaible names 
a_ev = a_mcap + a_pref + a_ltdebt + a_cltdebt + a_mint - a_cash
a_ltm_ebitda = a_q3_17 + a_q4_17 + a_q1_18 + a_q2_18
m_ev = m_mcap + m_pref + m_ltdebt + m_cltdebt + m_mint - m_cash
m_ltm_ebitda = m_q3_17 + m_q4_17 + m_q1_18 + m_q2_18

In [15]:
a_ev_ebitda = a_ev / a_ltm_ebitda
m_ev_ebitda = m_ev / m_ltm_ebitda

In [17]:
compare = a_ev_ebitda > m_ev_ebitda
print('AAPL EV = {}' .format(a_ev))
print('AAPL LTM EBITDA = {}' .format(a_ltm_ebitda))
print('AAPL EV / EBITDA = {}' .format(round(a_ev_ebitda, 2)))
print('-')
print('MSFT EV = {}' .format(m_ev))
print('MSFT LTM EBITDA = {}' .format(m_ltm_ebitda))
print('MSFT EV / EBITDA = {}' .format(round(m_ev_ebitda, 2)))
print('-')
print('AAPL\'s ratio is greater than MSFT\'s: {}' .format(compare))

AAPL EV = 940103
AAPL LTM EBITDA = 84070
AAPL EV / EBITDA = 11.18
-
MSFT EV = 699501
MSFT LTM EBITDA = 49468
MSFT EV / EBITDA = 14.14
-
AAPL's ratio is greater than MSFT's: False